<nz-layout class="layout">
  <nz-sider nzCollapsible nzBreakpoint="lg" [nzCollapsedWidth]="0">
    <div class="logo"></div>
    <ul nz-menu nzTheme="dark" nzMode="inline">
      <li nz-menu-item>
        <i nz-icon nzType="user"></i>
        <span>nav 1</span>
      </li>
      <li nz-menu-item>
        <i nz-icon nzType="video-camera"></i>
        <span>nav 2</span>
      </li>
      <li nz-menu-item>
        <i nz-icon nzType="upload"></i>
        <span>nav 3</span>
      </li>
      <li nz-menu-item>
        <i nz-icon nzType="user"></i>
        <span>nav 4</span>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header></nz-header>
    <nz-content>
      <div class="inner-content">

        <nz-table #nestedTable [nzData]="listOfParentData" [nzPageSize]="10">
          <thead>
            <tr>
              <th></th>
              <th>Name</th>
              <th>Platform</th>
              <th>Version</th>
              <th>Upgraded</th>
              <th>Creator</th>
              <th>Date</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <ng-template ngFor let-data [ngForOf]="nestedTable.data">
              <tr>
                <td [(nzExpand)]="data.expand"></td>
                <td>{{ data.name }}</td>
                <td>{{ data.platform }}</td>
                <td>{{ data.version }}</td>
                <td>{{ data.upgradeNum }}</td>
                <td>{{ data.creator }}</td>
                <td>{{ data.createdAt }}</td>
                <td>
                  <a>Publish</a>
                </td>
              </tr>
              <tr [nzExpand]="data.expand">
                <nz-table #innerTable [nzData]="listOfChildrenData" nzSize="middle" [nzShowPagination]="false">
                  <thead>
                    <tr>
                      <th>Date</th>
                      <th>Name</th>
                      <th>Status</th>
                      <th>Upgrade Status</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let data of innerTable.data">
                      <td>{{ data.date }}</td>
                      <td>{{ data.name }}</td>
                      <td>
                        <nz-badge [nzStatus]="'success'" [nzText]="'Finished'"></nz-badge>
                      </td>
                      <td>{{ data.upgradeNum }}</td>
                      <td>
                        <span class="table-operation">
                          <a nz-dropdown class="operation" [nzDropdownMenu]="menu">
                            Pause
                            <i nz-icon nzType="down"></i>
                          </a>
                          <nz-dropdown-menu #menu="nzDropdownMenu">
                            <ul nz-menu>
                              <li nz-menu-item>
                                <a>Action 1</a>
                              </li>
                              <li nz-menu-item>
                                <a>Action 2</a>
                              </li>
                            </ul>
                          </nz-dropdown-menu>
                          <nz-divider nzType="vertical"></nz-divider>
                          <a class="operation">Stop</a>
                          <nz-divider nzType="vertical"></nz-divider>
                          <a>More</a>
                        </span>
                      </td>
                    </tr>
                  </tbody>
                </nz-table>
              </tr>
            </ng-template>
          </tbody>
        </nz-table>


      </div>
    </nz-content>
    <nz-footer>Ant Design ©2020 Implement By Angular</nz-footer>
  </nz-layout>
</nz-layout>


